* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}
.container {
    max-width: 1260px!important;
    width: 100%;
    margin: 0 auto!important;
}
.row {
    margin-bottom: 0;
}

/* --- MENU --- */
.caixa-topo {
    position: absolute;
    top: -70px;
    right: 0;
    width: 180px;
    height: 40px;
    background: #f89801;
    display: flex;
    justify-content: center;
}
.caixa-topo:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 23px;
    z-index: 0;
    background: #f89801;
    transform-origin: top right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
}
.caixa-topo a {
    font-size: 14px;
    color: #fff;
    margin: 0;
    position: relative;
    z-index: 1;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa-topo a.hvr-underline-from-center:before {
    bottom: 12px;
}
.navbar-default {
    background-color: #f36623;
    height: 140px;
    border-radius: 0;
    margin-bottom: 0px;
    border: none;
}
.navbar-header {
    height: 140px;
}
.navbar-brand {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #fff;
    position: absolute;
    left: 0;
    margin-left: 0px!important;
    border-bottom: 1px solid #d7d7d7;
}
.navbar-brand:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% + 1px);
    top: 0;
    right: 0px;
    z-index: 0;
    background: #fff;
    transform-origin: top right;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
    border-bottom: 1px solid #d7d7d7;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    background-color: #fff;
}
img.logo {
    position: relative;
    z-index: 1;
}
#bs-example-navbar-collapse-1 {
    float: right;
    height: 140px;
    padding: 0;
}
header ul.nav {
    margin-right: -10px;
    height: 140px;
    display: flex;
    align-items: center;
}
header ul.nav>li>a {
    font-size: 16px;
    color: #fff!important;
    padding: 5px 10px;
}
header ul.nav>li>a:hover {
    color: #fff!important;
}
.hvr-underline-from-center:before {
    bottom: 4px;
    background: #fff;
    height: 2px;
}

.pj {
    padding: 100px 0;
    background: #f1f1f1;
}
.pj .item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pj .img-principal {
    max-width: 445px;
    width: 100%;
    height: 405px;
    object-fit: cover;
}
.pj .conteudo {
    max-width: 520px;
    width: 100%;
    height: 520px;
    background: #484847;
    padding: 60px 80px;
}
.pj .conteudo img {
    margin: 10px 0 25px;
}
.pj h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.pj p {
    font-size: 14px;
    color: #fff;
    text-align: justify;
}
.pj a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #f89801;
    padding: 10px 60px 10px 20px;
    display: table;
    margin-top: 30px;
}

.servicos {
    padding: 100px 0;
}
.servicos h2 {
    font-size: 40px;
    font-weight: 500;
    color: #686868;
    text-align: center;
    margin: 0;
}
.servicos h2 span {
    font-weight: 700;
}
.servicos .borda {
    margin: 10px auto 0;
    display: block;
}
.servicos .itens {
    display: flex;
    margin-top: 60px;
}
.servicos .item {
    width: 50%;
    float: left;
}
.servicos .item img {
    width: 100%;
    height: 475px;
    object-fit: cover;
}
.servicos .btn {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #f89801;
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    margin: -60px auto 0;
    position: relative;
}
.servicos a:hover {
    background: #f36623;
}

.receitas {
    background: #f89801;
    padding: 100px 0;
}
.receitas h2 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0;
}
.receitas h2 span {
    font-weight: 700;
}
.receitas .borda {
    margin: 10px auto 0;
    display: block;
}
.receitas .itens {
    display: flex;
    margin-top: 60px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid {
    margin-top: 60px;
}
.grid-item {
    width: 45%;
    height: 360px;
    float: left;
    background: transparent;
    border: none;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 0;
}
.grid-item--width2 {
    width: 55%;
}
.grid-item--width3 {
    width: 70%;
}
.grid-item--width4 {
    width: 30%;
}
.grid-item--height2 {
    height: 315px;
}
.grid-item img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.grid-item--height2 img {
    width: 100%;
    height: 315px;
    object-fit: cover;
}
.grid-item .btn {
    font-size: 22px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #f36623;
    position: relative;
    margin-top: -80px;
    opacity: 0;
}
.grid-item:hover .btn {
    opacity: 1;
}

.clientes {
    padding: 100px 0;
}
.clientes h2 {
    font-size: 40px;
    font-weight: 500;
    color: #686868;
    text-align: center;
    margin: 0;
}
.clientes h2 span {
    font-weight: 700;
}
.clientes .borda {
    margin: 10px auto 0;
    display: block;
}
.clientes #owl-clientes {
    border: 1px solid #cccccc;
    padding: 50px 120px;
    margin-top: 50px;
    border-radius: 5px;
}
.clientes #owl-clientes img {
    height: 70px;
    object-fit: contain;
}

.topo-interna {
    padding-top: 60px;
}
.topo-interna hr {
    margin-top: 57px;
    margin-bottom: 40px;
    border-top: 1px solid #fdddaa;
}
.titulo-interna {
    width: 205px;
    height: 57px;
    background: #f36623;
    display: flex;
    align-items: center;
    float: left;
}
.titulo-interna:after {
    content: " ";
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
    background: #f36623;
    transform-origin: top right;
    -ms-transform: skew(42deg, 0deg);
    -webkit-transform: skew(42deg, 0deg);
    transform: skew(42deg, 0deg);
}
.titulo-interna h1 {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    position: relative;
    z-index: 1;
    padding-left: 15px;
}
.breadcrumb {
    padding: 18px 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    float: right;
}
.breadcrumb a {
    font-size: 14px;
    color: #939392;
}
.breadcrumb>.active {
    color: #f36623;
}
.breadcrumb>li+li:before {
    color: #939492;
    content: ">";
}

.interna {
    padding-bottom: 60px;
}
.interna img {
    margin-bottom: 20px;
}
.interna h4 {
    font-size: 24px;
    color: #f36623;
    margin: 0;
}
.interna p {
    font-size: 16px;
    color: #939392;
    text-align: justify;
    margin-bottom: 20px;
}

.interna-servicos img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.interna-servicos h4 {
    margin-bottom: 20px;
}
.interna-servicos .item {
    height: 440px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 40px;
}
.interna-servicos a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #f89801;
    padding: 10px 60px 10px 20px;
}
.hvr-icon-wobble-horizontal:before {
    content: "\f178";
    position: absolute;
    right: 20px;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.newsletter {
    padding: 60px 0;
    background: #f36623;
    border-bottom: 1px solid #cccccc;
}
.newsletter .onda1 {
    position: absolute;
    left: 0;
    margin-top: 70px;
}
.newsletter .onda2 {
    position: absolute;
    right: 0;
    margin-top: -90px;
}
.newsletter h2 {
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.newsletter h2 span {
    font-weight: 700;
}
.newsletter .itens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.newsletter .item {
    width: 45%;
    text-align: center;
}
.newsletter form {
    display: flex;
}
.newsletter input {
    height: 45px;
    border: none;
    border-radius: 0;
}
.newsletter input {
    height: 45px;
    border: none;
    border-radius: 0;
}
.newsletter button {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    height: 45px;
    background: #f89801;
    border: none;
    border-radius: 0;
    padding: 0 20px;
}
.newsletter button:hover {
    background: #f36623;
}

footer {
    padding: 30px 0;
    background: #242424;
}
footer span {
    font-size: 12px;
    color: #fff;
    margin: 0 15px 0 0;
}
footer span .fa {
    font-size: 16px;
    color: #e88f04;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
footer .redes-sociais {
    float: right;
}
footer .redes-sociais ul {
    display: flex;
    margin: 0;
}
footer .redes-sociais a {
    width: 26px;
    height: 26px;
    background: #e88f04;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
footer .redes-sociais a:hover {
    background: #f36623;
}
footer .redes-sociais .fa {
    font-size: 16px;
    color: #242424;
}

.receita-interna h2 {
    font-size: 32px;
    color: #f36623;
    margin: 0 0 30px;
}
.receita-interna ul {
    padding-left: 10px;
    margin-bottom: 30px;
}
.receita-interna ul>li {
    font-size: 18px;
    color: #939090;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.receita-interna .ingredientes>li span {
    display: block;
    width: 7px;
    height: 7px;
    background: #f89801;
    margin-right: 15px;
    border-radius: 50px;
}
.receita-interna .preparo>li span {
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    background: #f89801;
    margin-right: 10px;
    border-radius: 50px;
}

aside {
    margin-top: 63px;
}
aside h4 {
    margin-bottom: 20px!important;
}
aside .item {
    margin-bottom: 30px;
}
aside img {
    width: 100%;
    height: 145px;
    object-fit: cover;
    margin-bottom: 0!important;
}
aside .btn {
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #f36623;
    padding-left: 20px;
    border-radius: 0;
}
aside .btn:hover {
    color: #fff;
    background: #f89801;
}

.contato form {
    margin-top: 30px;
}
.contato input {
    font-size: 16px;
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
    border-radius: 0;
    height: 45px;
    margin-bottom: 15px;
}
.contato textarea {
    font-size: 16px;
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
    border-radius: 0;
    height: 215px;
}
.contato button {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background: #f89801;
    padding: 10px 40px;
    border: none;
    float: right;
    margin-top: 30px;
}
.contato button:hover {
    background: #f36623;
}
.contato .conteudo {
    margin-top: 54px;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    .navbar-default {
        height: 100px;
    }
    .navbar-toggle {
        padding: 15px 15px;
        margin-top: 25px;
        border-color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-header {
        height: 100px;
        background: transparent;
    }
    .navbar-brand {
        width: 45%;
        height: 100px;
    }
    img.logo {
        width: 140px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        float: none!important;
        background: #f36623;
        z-index: 300;
        position: relative;
        min-height: 351px;
        height: auto;
        padding: 10px 30px;
    }
    #menu ul.nav.navbar-nav {
        float: none;
        display: block;
        text-align: center;
    }
    #menu ul.nav.navbar-nav>li {
        margin-bottom: 20px;
    }
    .navbar-nav {
        margin-right: 0!important;
        height: auto!important;
        float: none;
        text-align: center;
        display: block!important;
        margin: 10px 0 0 0;
        padding: 0!important;
    }
    .navbar-nav>li>a {
        padding: 15px 10px!important;
    }
    .caixa-topo {
        top: 0;
        bottom: 0;
    }
    .breadcrumb {
        display: none;
    }
    .newsletter .itens {
        display: block;
    }
    .newsletter .item {
        width: 100%;
    }
    .newsletter h2 {
        margin: 0 0 20px;
    }
    .newsletter button {
        font-size: 14px;
        padding: 0 10px;
    }
    .newsletter .onda1 {
        margin-top: 170px;
    }
    .newsletter .onda2 {
        margin-top: -190px;
    }
    footer span {
        margin: 0 0 10px;
        display: block;
    }
    footer .redes-sociais {
        float: none;
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .interna-servicos .item {
        height: 100%;
        padding-bottom: 80px;
    }
    .pj,
    .servicos,
    .receitas,
    .clientes {
        padding: 50px 0;
    }
    .pj .item {
        display: block;
    }
    .pj .img-principal {
        width: 90%;
        height: 200px;
        margin: 0 auto;
        display: block;
    }
    .pj .conteudo {
        height: auto;
        padding: 20px 15px;
    }
    .servicos h2,
    .receitas h2,
    .clientes h2 {
        font-size: 34px;
    }
    .servicos .itens {
        display: block;
        margin-top: 30px;
    }
    .servicos .item {
        width: 100%;
        float: none;
    }
    .servicos .item img {
        height: 200px;
    }
    .servicos .btn {
        font-size: 14px;
        width: 80%;
        height: 50px;
        margin: -50px auto 0;
    }
    .grid {
        margin-top: 30px;
    }
    .grid-item,
    .grid-item img,
    .grid-item--width2,
    .grid-item--width3,
    .grid-item--height2 img,
    .grid-item--width4,
    .grid-item--width4 img {
        width: 100%;
        height: 250px;
    }
    .grid-item .btn {
        font-size: 14px;
        height: 40px;
        margin-top: -40px;
        opacity: 1;
    }
    .clientes #owl-clientes {
        padding: 10px;
        margin-top: 30px;
    }
    .receita-interna ul>li {
        font-size: 12px;
    }
    .contato .conteudo {
        margin-top: 100px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    header ul.nav>li>a {
        font-size: 12px;
        padding: 5px;
    }
    .navbar-brand {
        width: 255px;
    }
    img.logo {
        width: 250px;
    }
    .newsletter h2 {
        font-size: 24px;
    }
    footer span {
        font-size: 10px;
        margin: 0 10px 0 0;
    }
    .pj .img-principal {
        max-width: 400px;
    }
    .pj .conteudo {
        padding: 20px 30px;
    }
    .servicos .item img {
        height: 350px;
    }
    .servicos .btn {
        width: 70%;
    }
    .grid-item,
    .grid-item img {
        height: 300px;
    }
    .grid-item--height2,
    .grid-item--height2 img {
        height: 260px;
    }
}
@media (min-width: 992px) and (max-width: 1023px) {
    header ul.nav>li>a {
        font-size: 14px;
        padding: 5px;
    }
    .newsletter h2 {
        font-size: 30px;
    }
}
@media (min-width: 1024px) and (max-width: 1100px) {
    header ul.nav>li>a {
        padding: 5px;
    }
    .newsletter h2 {
        font-size: 32px;
    }
}